*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: #e3e3e3;


}

.logo-size{

    width: 90px;
   


}

.interface{

    max-width: 1280px;
    margin: 0% auto;

}

header .btn-contato button, .hero-site button{

    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

/* Estilo Header */

header{

    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 0;
    left: 0;

    transition: .5s;

}

header .interface{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo img{

    max-width: 70px;

}

/* Estilo do menu */

header .logo img.logo-preta{

     display: none;

}

header.rolar{

    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 0 8px;

}

header.rolar .menu-desktop nav li a{

     color: #000;

}

header.rolar .btn-contato button{

    border: 1px solid #000;
    color: #000;

}

header.rolar .btn-contato button:hover{

    background-color: #000;
    color: #fff;

}

header.rolar .logo .logo-branca{

    display: none;

}

header.rolar .logo .logo-preta{

    display: block;

}

/* --------------- */

header .menu-desktop nav ul{

    list-style-type: none;

}

header .menu-desktop nav ul li{

    display: inline-block;
    margin: 0 40px;

}

header .menu-desktop nav ul li a{

   color: #fff;
   text-decoration: none;
   display: inline-block;
   transition: .1s;

}

.menu-desktop nav a:hover{

   transform: scale(1.05);
   


}

header .btn-contato button{

   width: 140px;
   height: 50px;


}


header .btn-contato button:hover, .hero-site button:hover{
    
    transition: .1;
    background-color: white;
    color: black;

}

section.hero-site{

    height: 100vh;
    background-image: url(images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;

}

.hero-site .interface{

    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.hero-site .txt-hero h1{

    font-size: 4em;
    font-family: "Poppins", sans-serif;
    line-height: 70px;
    font-weight: 100;
    align-items: center;
    justify-content: space-between;

}

.hero-site .txt-hero h1 span{
     
    display: flex;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    align-items: center;
    justify-content: center;
    color: rgb(0, 187, 0);
    padding: 10px 0;
    margin: 1px 0;

}

.hero-site .txt-hero p span{
     
    display: flex;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 0);
    padding: 10px 0;
    margin: 1px 0;

}


.hero-site .txt-hero p{

   font-size: 20px;
   font-weight: 300;
   margin: 20px 0;  
   font-family: "Poppins", sans-serif;
   display: block;
   align-items: center;
   justify-content: center;

}

.hero-site .txt-hero p span{

   display: block;
   font-family: "Poppins", sans-serif;
   font-size: 15px;
   margin: 10px 0;

}

.hero-site button{

   width: 220px;
   height: 60px;
   font-size: 18px;

}

/* Estilo Das Vantagens */
section.vantagens{
 
   padding: 90px 0;

}

.vantagens .itens-container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;

}

.vantagens .itens-container .img-itens img{

   max-width: 420px;
   font-family: "Poppins", sans-serif;

}

.vantagens .itens-container .txt-itens h3{

    font-size: 3em;
    line-height: 50px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;

}

.vantagens .itens-container .txt-itens h3 span{

    font-weight: 300;
    font-family: "Poppins", sans-serif;

}

.vantagens .itens-container .txt-itens p{

    font-family: "Poppins", sans-serif;
    font-size: 18px;

}

/* Estilo dos botoes de conta */
section.contato{
     
    background-color: #fff;
    padding: 80px 0; 
    font-family: "Poppins", sans-serif;

}

.txt-contato, .icons-contato{

    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
}

.contato .txt-contato h3{

    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-bottom: 20px;

}

.contato .txt-contato h3 span{

    display: block;
    font-weight: 700;
    font-family: "Poppins", sans-serif;

}

.contato .icons-contato a{

    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.contato .icons-contato button{

    display: flex;
    align-items: center;
    justify-content: space-between;


    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 60px;

    background-color: transparent;
    border:  2px solido #000;
    cursor: pointer;

    transition: .4s;

}

.contato .icons-contato button i{

    font-size: 20px;
    font-family: "Poppins", sans-serif;


}

.contato .icons-contato button p{

    font-size: 15px;
    font-family: "Poppins", sans-serif;


}

.contato .icons-contato button:hover{

    background-color: #000;
}

.contato .icons-contato button:hover i, .contato .icons-contato button:hover p {

    background-color: #fff
}

/* Rodape */
footer{

     background-color: #000;
     width: 100%;
     text-align: center;
     padding: 30px 0;


}

footer .top-footer button{

     width: 60px;
     height: 60px;
     border-radius: 50%;
     border: 2px solid #fff;
     background-color: transparent;
     color: #fff;
     font-size: 24px;
     cursor: pointer;
     margin: 0 10px;
     transition: .5s;

}

footer .top-footer button:hover{

     background-color: #fff;
     color: #000;
}

footer .middle-footer{

    margin: 20px 0;
}

footer .middle-footer a{

    color: #fff;
    margin: 0 15px;
    font-family: "Poppins", sans-serif;

}

footer .bottom-footer{

    border-top: 2px solid #fff;
}

footer .bottom-footer p{

    color: #fff;
    margin: 10px;
    font-family: "Poppins", sans-serif;

}